.services_container {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    justify-content: center;
    column-gap: 28.8px;
}

.services_content {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--container-color);
    padding: 96px 0 32px 40px;
}

.services_icon {
    display: block;
    font-size: 32px;
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.services_title {
    color: var(--title-color);
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.services_button {
    color: var(--title-color);
    font-size: var(--smal-font-size);
    display: inline-flex;
    align-items: center;
    column-gap: 4px;
    cursor: pointer;
}

.services_button-icon {
    font-size: 16px;
    transition: 0.3s;
}

.services_button:hover .services_button-icon {
    transform: translateX(4px);
}

.services_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.services_modal-content {
    width: 500px;
    position: relative;
    background-color: var(--container-color);
    padding: 40px 40px;
    border-radius: 24px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.services-modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    color: var(--title-color);
    cursor: pointer;
}

.services_modal-title,
.services_modal-description {
    text-align: center;
    color: var(--title-color);
}

.services_modal-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.services_modal-description {
    font-size: var(--small-font-size);
    padding: 0 56px;
    margin-bottom: var(--mb-2);
}

.services_modal-services  {
    display: grid;
    row-gap: 12px;
    color: var(--title-color);
}

.services_modal-services {
    display: flex;
    align-items: center;
    gap: 8px;
}

.services_modal-icon {
    color: var(--title-color);
    font-size: 17.6px;
}

.services_modal-info {
    font-size: var(--small-font-size);
}

/* Active Modal */
.active-modal {
    opacity: 1;
    visibility: visible;
}

/* BreakPoints */

    /* for large devices */
    @media screen and (max-width: 992px) {
        .services_container{
            grid-template-columns: repeat(3, 218px);
        }
      }
  
      /* for medium devices */
      @media screen and (max-width: 768px) {
        .services_container{
            grid-template-columns: repeat(2, 1fr);
        }

        .services_content{
            padding: 56px 8px 20px 24px;
        }

        .services_icon{
            font-size: 24px;
        }
      }
  
      @media screen and (max-width: 576px) {
        .services_modal-content{
            padding: 72px 24px 40px;
        }

        .services_modal-description{
            padding: 0;
        }

        .services_container{
            grid-template-columns: max-content;
        }

      }
  
      /* for small devices */
      @media screen and (max-width: 350px) {
        .services_content{
            padding-right: 96px;
        }
      }
