.ScrollUp{
    position: fixed;    
    right: 40px;
    bottom: -20%;
    background-color: var(--container-color);
    padding: 4.8px 8px;
    border-radius: 6.4px;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.ScrollUp_icon{
    font-size: 24px;
    color: var(--title-color);
}

.ScrollUp:hover{
    background-color: var(--title-color-dark);
}

/* Show Scroll */

.show-scroll{
    bottom: 48px;
}

 /* BreakPoints */

    /* for large devices */
    @media screen and (max-width: 992px) {
       .ScrollUp{
        right: 24px;
        padding: 4px 6.4px;
       }

       .ScrollUp_icon{
        font-size: 20px;
       }
      }
  
      /* for medium devices */
      @media screen and (max-width: 768px) {
        .show-scroll{
            bottom: 64px;
        }
      }

  
      /* for small devices */
      @media screen and (max-width: 350px) {
        .ScrollUp{
            right: 16px;
        }
        
      }