.skills_container{
    grid-template-columns: repeat(2, 350px);
    column-gap: 48px;
    justify-content: center;
    grid-template-rows: auto auto;
}

.skills_container > :nth-child(3) {
    grid-column: 1 / -1;
    justify-self: center;
    width: 350px;
    min-width: 350px;
}

.skills_content{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 32px 64px;
    border-radius: 20px;
    width: 350px;
    min-width: 350px;
}

.skills_title{
    color: var(--title-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills_box{
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.skills_group{
    display: grid;
    align-items: flex-start;
    row-gap: 16px;
}

.skills_data{
    display: flex;
    column-gap: 8px;
}

.skills .bxs-badge-check{
    font-size: 16px;
    color: var(--title-color);
}

.skills_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
    color: var(--title-color);
}

.skills_level{
    font-size: var(--tiny-font-size);
    color: var(--title-color);
}


/* for large devices */
@media screen and (max-width: 992px) {
    .skills_container{
        grid-template-columns: max-content;
            row-gap: 32px;
    }
    
    .skills_content{
        width: 350px;
        min-width: 350px;
    }
    
    .skills_container > :nth-child(3) {
        grid-column: 1;
        justify-self: center;
        width: 350px;
        min-width: 350px;
    }
}
  
/* for medium devices */
  
@media screen and (max-width: 576px) {
    .skills_container{
        grid-template-columns: 1fr;
    }

    .skills_content{
        padding: 24px;
        width: 100%;
        min-width: auto;
    }
    
    .skills_container > :nth-child(3) {
        grid-column: 1;
        justify-self: center;
        width: 100%;
        min-width: auto;
    }
}
  
/* for small devices */
    @media screen and (max-width: 350px) {
    .skills_box{
       column-gap: 20px; 
    }

    .skills_name{
        font-size: var(--small-font-size);
    }
    
    .skills_content{
        width: 100%;
        min-width: auto;
    }
    
    .skills_container > :nth-child(3) {
        grid-column: 1;
        justify-self: center;
        width: 100%;
        min-width: auto;
    }
}