.about_container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 64px;
}

.about_img{
    width: 450px;
    border-radius: 24px;
    justify-self: center;
}

.about_info{
    grid-template-columns: repeat(3, 140px, 100px);
    gap: 8px;
    margin-bottom: var(--mb-2);
}

.about_box{
    background-color: var(--container-color);
    color: var(--title-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
    padding: 16px 20px;
}

.about-icon{
    font-size: 24px;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about_title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.about_subtitle{
    font-size: var(--tiny-font-size);
}

.about_description{
    padding: 0 64px 0 0;
    margin-bottom: var(--mb-2-5);
}

/* BreakPoints */

    /* for large devices */
    @media screen and (max-width: 992px) {
        .about_container{
            grid-template-columns: 1fr;
            row-gap: 40px;
        }

        .about_img{
            width: 320px;
        }

        .about_box{
            width: 450px;
            padding: 12px 8px;
        }

        .about_data{
            text-align: center;
        }

        .about_info{
            justify-content: center;
        }

        .about_description{
            padding: 0 80px;
            margin-bottom: 32px;
        }
      }
  
      /* for medium devices */
  
      @media screen and (max-width: 576px) {
        .about_container{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
        }

        .about_box{
            width: 350px;
            padding: 12px 8px;
        }

        .about_description{
            padding: 10px;
        }
      }
  
      /* for small devices */
      @media screen and (max-width: 350px) {
        .about_info{
            grid-template-columns: repeat(2, 1fr);
        }
      }
  